
<%= link_to('Back to List', books_path, class: 'back-link') %> <br />

<div class="books new">
    <h2>Create Book</h2>

    <%= form_with(model: @book, local: true) do |f| %>
        <table summary="Book form fields">
            <tr>
                <th>Title</th>
                <td><%= f.text_field(:title) %></td>
            </tr>
            <tr>
                <th>Author</th>
                <td><%= f.text_field(:author) %></td>
            </tr>
            <tr>
                <th>Price</th>
                <td><%= f.number_field(:price, step: 0.01) %></td>
            </tr>
            <tr>
                <th>Published Date</th>
                <td><%= f.date_select(:published_date, start_year: 1900, end_year: Date.today.year) %></td>
            </tr>

        </table>

        <div class="form-buttons">
            <%= f.submit("Create Book") %>
        </div>
    <% end %>
</div>

