<%= link_to('Back to List', books_path, class: 'back-link') %> <br />

<div class="tasks show">
    <h2> Book Details </h2>

    <div class="actions">
        <%= link_to('Edit', edit_book_path(@book)) %>
        <%= link_to('Delete', delete_book_path(@book)) %>
    </div>

    <table summary= "Book detail view">
        <tr>
            <th>Title</th>
            <td><%= @book.title %> </td>
        </tr>

         <tr>
            <th> Author </th>
            <td><%= @book.author %> </td>
        </tr>

        <tr>
            <th> Price </th>
            <td><%= @book.price %> </td>
        </tr>

        <tr>
            <th> Published Date </th>
            <td><%= @book.published_date %> </td>
        </tr>
        

    </table>
</div>